@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600;700&display=swap')

$font-title:'Teko'
$font-text:'Montserrat'

.font-title
    font-family: $font-title

.font-text
    font-family: $font-text

.text-white
    color: white
.text-dark
    color: black
body
   font-family: $font-text 

.extremo
    justify-content: flex-end

.carousel-item
    img
        max-height: 100vh
#carouselExampleDark
    max-height: 60vh
    @media (max-width: 768px)
        display: none

#JumboTronMovil  
    @media (min-width: 768px)
        display: none


.text-white
    color: white
.text-dark
    color: black
